*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

hr.rounded {
    margin: auto;
    width: 80%;
    border-top: 4px solid black;
    border-radius: 5px;
    opacity: 0.2;
}

/* Image showcase */
.image-showcase
{
    z-index: -1;
    width: 100%;
    max-height: 900px;
    overflow:hidden;
}

.image-showcase video
{
    width: inherit;
    height: inherit;
}

@media screen and (max-width: 1000px)
{
    .image-showcase
    {
        position: relative;
    }
}


/* About me showcase */
.about-container
{
    width: 100%;
    background: rgb(32, 28, 39);
    margin-bottom: 0;
    margin-top: -1rem;
}

.about-title
{
    font-family: 'Abel', sans-serif;
    font-size: 4rem;
    font-weight: 400;
    padding-top: 2rem;
    text-align: center;
    color: white;
}

.about-content
{
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    font-weight: 300;
    padding: 0 7rem;
    padding-bottom: 4rem;
    text-align: center;
}

@media screen and (max-width: 1000px)
{
    .about-container
    {
        margin-top: -30px;
    }

    .about-title
    {
        font-size: 3.5rem;
    }

    .about-content
    {
        padding: 0 2.5rem;
        padding-bottom: 2rem;
    }
}

/* Professional projects */

.professional-projects-container
{
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
    width: 100%;
    background: #2E2836;
}

.professional-projects-title
{
    font-family: 'Abel', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    padding: 1rem;
    padding-top: 4rem;
}

@media screen and (max-width: 1000px)
{
    .professional-projects-title
    {
        font-size: 1.5rem;
    }
}

.project-row
{
    margin: auto;
    padding-top: 30px;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media screen and (max-width: 1000px)
{
    .professional-projects-title
    {
        padding-top: 3rem;
        font-size: 2.5rem;
    }

    .project-row
    {
        margin-top: 0;
    }

    .about-content
    {
        padding-bottom: 5rem;
    }
}

/* Skills section */
.skills-container
{
    padding-bottom: 40px;
    width: 100%;
    background: #7E7F9A;
}

.skills-row
{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 85%;
}

.skills-section
{
    margin-top: 50px;
}

.skills-section-title
{
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.skills-section-components
{
    text-shadow: 0.1rem 0.1rem black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Contact section */
.contact-container
{
    text-align: center;
    width: 100%;
    background: rgb(32, 28, 39);
    padding-bottom: 3rem;
}

.contact-title
{
    font-family: 'Abel', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    padding: 1rem;
    padding-top: 3rem;
}

.contact-socialbar
{
    margin: auto;
    width: 85%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.contact-socialbar p
{
    margin-bottom: 2rem;
}
 

.contact-socialbar-item
{
    text-decoration: none;
    color: white;
    margin-top: 0.4rem;
    width: 300px;
    display: flex;
    justify-content: center;
    height: 50px;
    transition: all 0.4s ease-out;
}

.contact-socialbar-item p
{
    padding-top: 0.3rem;
    padding-left: 1rem;
}

.contact-socialbar-item:hover
{
    transform: scale(1.1);
}

.socialbar-linkedin:hover
{
    color: blueviolet;
}

.socialbar-github:hover
{
    color: orange;
}

.socialbar-email:hover
{
    color: rgb(170, 23, 23);
}

.copyright
{
    width: 80%;
    margin: auto;
    margin-top: 5rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    opacity: 0.5;
}