@font-face 
{
    font-family: 'Bebas';
    src: local('Bebas'), url(./fonts/bebas_neue/BebasNeue-Regular.ttf) format('truetype');
}

@font-face 
{
    font-family: 'Code';
    src: local('Code'), url(./fonts/code/CODE_Light.otf) format('OpenType');
}

@font-face 
{
    font-family: 'Code';
    src: local('Code'), url(./fonts/code/CODE_Bold.otf) format('OpenType');
    font-weight: bold; 
}

@font-face 
{
    font-family: 'Comfortaa';
    src: local('Comfortaa'), url(./fonts/comfortaa/Comfortaa-Regular.ttf) format('truetype');
}

@font-face 
{
    font-family: 'Comfortaa';
    src: local('Comfortaa'), url(./fonts/comfortaa/Comfortaa-Light.ttf) format('truetype');
    font-weight: lighter; 
}

@font-face 
{
    font-family: 'Comfortaa';
    src: local('Comfortaa'), url(./fonts/comfortaa/Comfortaa-Bold.ttf) format('truetype');
    font-weight: bold; 
}

@font-face 
{
    font-family: 'Coolvetica';
    src: local('Coolvetica'), url(./fonts/coolvetica/coolvetica_compressed rg.ttf) format('truetype');
    font-variant: compressed;
}


@font-face 
{
    font-family: 'Coolvetica';
    src: local('Coolvetica'), url(./fonts/coolvetica/coolvetica_condensed rg.ttf) format('truetype');
    font-variant: condensed;
}

@font-face 
{
    font-family: 'Coolvetica';
    src: local('Coolvetica'), url(./fonts/coolvetica/coolvetica_crammed rg.ttf) format('truetype');
    font-variant: crammed;
}

@font-face 
{
    font-family: 'Coolvetica';
    src: local('Coolvetica'), url(./fonts/coolvetica/coolvetica_rg.ttf) format('truetype');
}


