body {
  margin: 0;
  
  font-family: 'Abel', sans-serif;
  font-family: 'Arvo', serif;
  font-family: 'Quicksand', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

